<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Anime found</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
      #box {
        background: #003366;
        color: white;
      }
      
      .row {
        overflow:hidden;
      }
      
      .row [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
      }
    
      #desc {
        background:#E8ECF1;
      }
      
      #review{
       color:#5294ED;
      }
      
       #button{
        text-align:center;
      }
      
      #prev{
        float:left;
      }
      
    </style>
  </head>
  <body>
  
<div class="row">
  
  <div class="col-xs-12 col-md-4" id="box">
    <div class="row">
      <div class="col-xs-6" id="title_box">
        <h2><%= @user_anime[:anime_titles][3] %></h2>
        <h3>Rating: <%= @user_anime[:anime_ratings][3] %>/10</h3>
      </div>
      <div class="col-xs-6" id="img_box">
        <img class="img-responsive img-thumbnail" src="<%= @user_anime[:anime_images][3] %>">
      </div>
    </div>
  </div>

  
  <div class="col-xs-12 col-md-8 " id="desc">
    <p id="review"><%= @user_anime[:anime_synopsis][3] %></p>
  </div>
  
</div>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Related anime</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form method="post" action="/result1">
          <button type="submit" style="background:none; border-width:0px; color:#337ab7; "><%=@user_anime[:anime_titles][0]%> </button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form method="post" action="/result2">
          <button type="submit" style="background:none; border-width:0px; color:#337ab7; "><%=@user_anime[:anime_titles][1]%> </button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form method="post" action="/result3">
          <button type="submit" style="background:none; border-width:0px; color:#337ab7; "><%=@user_anime[:anime_titles][2]%> </button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form method="post" action="/result5">
          <button type="submit" style="background:none; border-width:0px; color:#337ab7; "><%=@user_anime[:anime_titles][4]%> </button>
          </form>
        </td>
      </tr>
      
    </tbody>
  </table>

<div id="button">
  
  <!--previous button-->
  <form method="get" action="/result" id="prev">
    <button  type="submit" class="btn btn-link">
      <span class="glyphicon glyphicon-menu-left"></span>
    </button>
  </form>
  <!--home button-->
  <form method="get" action="/index" id="home">
    <button  type="submit" class="btn btn-link">
      <span class="glyphicon glyphicon-home"></span>
    </button>
  </form>

</div>


  </body>
</html>
